.quote blockquote {
  margin: 0 auto;
  max-width: 900px;
}

.quote blockquote .quote-quotation {
  font-size: var(--body-font-size-l);
  font-weight: 700;
  line-height: var(--line-height-l);
  color: var(--text-color-bold);
}

.quote blockquote .quote-quotation p {
  font-size: var(--body-font-size-l);
  font-weight: 700;
  line-height: var(--line-height-l);
  color: var(--text-color-bold);
}

.quote blockquote .quote-quotation > :first-child p {
  text-indent: -0.5ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: "“";
}

.quote blockquote .quote-quotation > :last-child::after {
  content: "”";
}

.quote blockquote .quote-attribution {
  text-align: right;
}

.quote blockquote .quote-attribution > :first-child::before {
  content: "—";
  padding-right: 0.5ch;
}
