main .hero-container > div {
  max-width: unset;
}

main .hero-wrapper {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.hero {
  position: relative;
  min-height: 108px;
  max-width: 980px;
}

@media (width > 1024px) {
  main .hero-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
