footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  font-family: var(--regular-font-size);
  max-width: var(--footer-max-width);
  margin: 0 auto;
  background-color: var(--background-gray-1);
  border-top: var(--footer-border-top);
}

.footer > div {
  padding: 46px 48px;
}

footer .footer p {
  margin: 0;
}

footer .footer .section.auxiliary-block-container:first-child {
  padding: 0 15px;
  border-bottom: 1px solid #c6c6c6;
}

footer .footer-first-navigation ul,
footer .footer-second-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer-first-navigation ul li a,
footer .footer-second-navigation ul li a {
  font-size: var(--body-font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-color-bold);
  text-decoration: none;
}

footer .footer-first-navigation ul li a:hover,
footer .footer-first-navigation ul li a:active,
footer .footer-second-navigation ul li a:hover,
footer .footer-second-navigation ul li a:active {
  color: var(--link-hover-color);
}

footer .auxiliary-block-wrapper:nth-child(3) {
  margin-top: var(--spacing-xs);
}

footer .footer-media-title {
  font-family: var(--body-font-family);
  font-size: 14px;
  color: var(--text-color-gray-1);
  margin-top: -8px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: var(--line-height-xs);
}

footer .footer-media-title div div p {
  padding-bottom: 8px;
  color: var(--text-color-gray-1);
  font-size: var(--body-font-size-xxs);
}

footer .auxiliary-block-container:first-child .footer-media-title ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: var(--footer-unordered-list-display);
}

footer .auxiliary-block-container:first-child .footer-media-title ul li {
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

footer .auxiliary-block-container:first-child .footer-media-title ul li:first-child {
  float: left;
}

footer .auxiliary-block-container:first-child .footer-media-title ul li a span {
  width: 40px;
  height: 40px;
}

footer .auxiliary-block-container:nth-child(2) {
  margin-top: 25px;
  padding-right: 16px;
  padding-left: 16px;
}

footer .auxiliary-block-container:nth-child(2) .default-content-wrapper img {
  width: 250px;
  height: 52px;
}

footer .auxiliary-block-container:nth-child(2) .footer-copyright {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer .auxiliary-block-container:nth-child(2) .footer-copyright div div {
  font-size: var(--body-font-size-xs);
  line-height: var(--line-height-s);
  color: var(--text-color-gray-1);
}

footer .auxiliary-block-container:nth-child(2) .footer-copyright div div p {
  font-size: var(--body-font-size-xxs);
  line-height: var(--line-height-xs);
  color: var(--text-color-gray-1);
}

/* media queries */
@media (width <= 575px) {
  footer .footer {
    padding: 20px 0;
    border-top: var(--footer-mobile-border-top);
    background-color: var(--background-gray-1);
  }

  .footer > div {
    padding: 0;
  }

  footer .footer .section.auxiliary-block-container:first-child {
    margin-top: -5px;
  }

  footer .auxiliary-block-container:nth-child(2) .footer-copyright div div p {
    font-size: var(--body-font-size-xs);
    line-height: var(--line-height-s);
  }

  footer .auxiliary-block-container:first-child .footer-media-title ul li {
    padding-right: var(--footer-mobile-media-padding-right);
  }
}

@media (width > 575px) and (width < 769px) {
  footer .footer .section.auxiliary-block-container:first-child {
    display: flex;
    flex-wrap: wrap;
  }

  footer .auxiliary-block-wrapper:first-child,
  footer .auxiliary-block-wrapper:nth-child(2) {
    margin-right: auto;
  }

  footer .auxiliary-block-wrapper:nth-child(3) {
    flex-basis: 100%;
  }

  footer .footer-first-navigation ul,
  footer .footer-second-navigation ul {
    margin-bottom: 48px;
  }

  footer .auxiliary-block-container:first-child .footer-media-title ul li {
    padding-right: 11px;
    padding-bottom: 0;
    margin-bottom: -5px;
  }

  footer .auxiliary-block-container:first-child .footer-media-title ul li a span {
    width: 32px;
    height: 32px;
  }

  footer .auxiliary-block-container:nth-child(2) {
    max-width: 67%;
  }

  footer .auxiliary-block-container:nth-child(2) .footer-copyright div div {
    font-size: 14px;
    line-height: var(--line-height-xs);
  }
}

@media (width >= 769px) {
  footer .footer .section.auxiliary-block-container:first-child {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
  }

  footer .auxiliary-block-wrapper:first-child {
    grid-area: 1 / 1 / 2 / 5;
  }

  footer .auxiliary-block-wrapper:nth-child(2) {
    grid-area: var(--footer-second-block-grid-area);
  }

  footer .auxiliary-block-wrapper:nth-child(3) {
    grid-area: 2 / 1 / 3 / 9;
  }

  footer .footer-first-navigation ul,
  footer .footer-second-navigation ul {
    margin-bottom: 48px;
  }

  footer .auxiliary-block-container:first-child .footer-media-title ul li {
    padding-right: 11px;
    padding-bottom: 0;
    margin-bottom: -5px;
  }

  footer .auxiliary-block-container:first-child .footer-media-title ul li a span {
    width: 32px;
    height: 32px;
  }

  footer .auxiliary-block-container:nth-child(2) {
    margin-top: 54px;
  }

  footer .auxiliary-block-container:nth-child(2) .auxiliary-block-wrapper {
    max-width: 67%;
    margin: 0;
  }

  footer .auxiliary-block-container:nth-child(2) .footer-copyright div div {
    font-size: var(--body-font-size-xxs);
    line-height: var(--line-height-xs);
  }
}

@media (width >= 820px) {
  footer .auxiliary-block-wrapper:nth-child(3) {
    grid-area: 1 / 9 / 2 / 13;
  }
}

@media (width >= 900px) {
  footer .footer .section.auxiliary-block-container:first-child {
    max-width: 1036px;
    margin: 0 auto;
  }

  footer .auxiliary-block-container:nth-child(2) {
    max-width: 1036px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width >= 992px) {
  footer .auxiliary-block-wrapper:first-child {
    grid-area: 1 / 1 / 2 / 4;
  }

  footer .auxiliary-block-wrapper:nth-child(2) {
    grid-area: var(--footer-second-block-grid-area);
  }
}
